# Byte-compiled / optimized / DLL files

.venv
.vscode
.env
config.ini
.markdownlint.json
__pycache__
./user_notes/*
key.key
__init__
config/config.ini.clear
start.sh
test.sh
.markdownlint.jsonc
